.pointer {
  cursor: pointer;
  transition: 1s ease;
}

.pointer:hover {
  background-color: rgba(163, 154, 154, 0.719) !important;
  border-radius: 30px;
}
.fixed {
  position: sticky !important;
  z-index: 2;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #202020;
  border-left: 1px solid #2c2c2c;
}
::-webkit-scrollbar-thumb {
  background: #3e3e3e;
  border: solid 3px #202020;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(138, 131, 131);
}
.index-1{
  z-index: 1 !important;
}
.index-2{
  z-index: 2 !important;
}
.index-3{
  z-index: 3 !important;
}
.index-4{
  z-index: 4 !important;
}
.index-5{
  z-index: 5 !important;
}